---
import type { CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"blog" | "recipes" | "projects">;
  type: "blog" | "recipes" | "projects";
  showDate?: boolean;
}

const { item, type, showDate = true } = Astro.props;
const typeLabels = {
  blog: "Read more",
  recipes: "View recipe",
  projects: "View project"
};
---

<article class="group">
  <div class="transition-all duration-300">
    <h2 class="text-2xl font-bold">
      <a href={`/${type}/${item.id}`} class="p-0">
        {item.data.title}
      </a>
    </h2>
    {showDate && (
      <time datetime={item.data.publishDate.toISOString()} class="text-sm -mt-2 text-gray-600 block mb-2">
        {item.data.publishDate.toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        })}
      </time>
    )}
    <p class="text-foreground/80 leading-relaxed font-extralight text-sm  line-clamp-3">{item.data.description}</p>
    <a 
      href={`/${type}/${item.id}`}
      class="inline-block font-medium  transition-colors fancy-link"
    >
      {typeLabels[type]} →
    </a>
  </div>
</article> 
