---
import BaseLayout from './BaseLayout.astro';
import { type CollectionEntry } from 'astro:content';
import {Image} from "astro:assets"


interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { title, description, publishDate, cover, alt} = post.data;
---

<BaseLayout title={title} description={description} image={cover}>
  <article class="max-w-4xl mx-auto px-4 py-12 prose prose-blockquote:text-foreground prose-pre:border-1 prose-pre:border-foreground lg:prose-lg text-foreground/80 prose-headings:text-foreground">
    <h1>{title}</h1>
    <time datetime={publishDate.toISOString()} class="">
      {publishDate.toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })}
    </time>
    <slot />
  </article>
</BaseLayout> 