---
import BaseLayout from "./BaseLayout.astro";
import { type CollectionEntry } from "astro:content";
import Ingredients from "../components/ingredients";
import { ArrowLeft } from "lucide-react";

interface Props {
  recipe: CollectionEntry<"recipes">;
}

const { recipe } = Astro.props;
const { title, description, publishDate, image, ingredients, source } =
  recipe.data;
---

<BaseLayout title={title} description={description} image={image}>
  <article
    class="prose-a:no-underline prose-a:hover:underline prose-strong:text-foreground prose-strong:font-bold prose-headings:mb-2 prose-headings:mt-6 prose-a:text-accent prose-h1:text-4xl prose-a:font-bold prose-p:text-base prose prose-blockquote:text-foreground prose-pre:border-1 prose-pre:border-foreground text-foreground/80 prose-headings:text-foreground prose-li:m-0 prose-p:my-2 marker:text-accent mx-auto w-full max-w-2xl pt-6 pb-12"
  >
    <a href="/recipes" class="text-sm font-extralight"
      ><span class="gap group flex items-center"
        ><ArrowLeft
          size={15}
          className="transition-all duration-300 group-hover:-translate-x-1"
        /> Back to recipes</span
      ></a
    >
    <div class="flex flex-col justify-between gap-1 md:flex-row md:gap-0">
      <h1 class="">
        {title}{
          source === "Family Recipe" ? <sup class="ml-1 text-xs">F</sup> : ""
        }
      </h1>
    </div>
    <p>{description}</p>
    <div class="border-b-1"></div>
    <h2>Ingredients</h2>
    <Ingredients ingredients={ingredients} client:load />
    <div class="my-3 border-b-1"></div>
    <slot />
  </article>
</BaseLayout>
